.fcr-pagination {
  @apply fcr-bg-2 fcr-border-1 fcr-rounded-full;
  border-width: 1px;
  border-style: solid;
  display: inline-flex;
  padding: 0 4px;
  font-size: 14px;
  height: 36px;
  --effect-color: theme(colors.brand.4);
}

.fcr-pagination .fcr-pagination__prev,
.fcr-pagination .fcr-pagination__next {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fcr-pagination .fcr-pagination__prev {
  padding-right: 4px;
}
.fcr-pagination .fcr-pagination__next {
  padding-left: 4px;
}

.fcr-pagination .fcr-pagination__btn {
  @apply fcr-rounded-full;
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.fcr-pagination .fcr-pagination__btn:hover:not(.fcr-pagination_btn--disabled) {
  cursor: pointer;
  color: theme(colors.icon-2);
  background: theme(colors.hover);
}

.fcr-pagination .fcr-pagination__btn:active:not(.fcr-pagination_btn--disabled) {
  @apply fcr-bg-brand-8;
}

.fcr-pagination .fcr-pagination__page {
  @apply fcr-text-1;
  text-align: center;
  width: 58px;
  font-weight: 700;
  align-self: center;
}

.fcr-pagination.fcr-pagination-half-r {
  @apply fcr-rounded-16 fcr-shadow-1;
  height: 50px;
  font-size: 20px;
  padding: 9px;
}

.fcr-pagination-half-r .fcr-pagination__extra {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 9px;
}

.fcr-pagination-half-r .fcr-pagination__btn {
  @apply fcr-rounded-10;
  height: 30px;
  width: 30px;
}

.fcr-pagination-half-r .fcr-pagination__prev {
  padding-left: 9px;
}

.fcr-pagination_btn--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.fcr-pagination-float {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  --effect-color: theme(colors.brand.4);
}
.fcr-pagination-float .fcr-pagination-float__prev,
.fcr-pagination-float .fcr-pagination-float__next {
  @apply fcr-bg-4 fcr-rounded-8;
  pointer-events: all;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}
.fcr-pagination-float .fcr-pagination-float__prev {
  left: 10px;
}

.fcr-pagination-float .fcr-pagination-float__next {
  right: 10px;
}
.fcr-pagination-float .fcr-pagination-float__btn {
  @apply fcr-rounded-8 fcr-bg-2;
  width: 40px;
  height: 40px;
  /* Note: backdrop-filter has minimal browser support */
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.fcr-pagination-float .fcr-pagination-float__btn:hover:not(.fcr-pagination_btn--disabled) {
  cursor: pointer;
  color: theme(colors.icon-2);
  background: theme(colors.hover);
}

.fcr-pagination-float .fcr-pagination-float__btn:active:not(.fcr-pagination_btn--disabled) {
  @apply fcr-bg-brand-8;
}

.fcr-pagination-float__page {
  @apply fcr-text-1;
  padding: 3px 0 5px;
}
