.fcr-status-bar-widget-slot .fcr-minimized-widget-icon {
  @apply fcr-bg-2  fcr-rounded-4 fcr-shadow-line-1-.5;
  height: 28px;
  width: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
