.fcr-input {
  @apply fcr-bg-8 fcr-rounded-12 fcr-border-1;
  position: relative;
  transition: all 0.2s ease-in-out;
  border-width: 1px;
  border-style: solid;
  cursor: text;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-right: 28px;
  padding-left: 12px;
}

.fcr-input.fcr-input-l {
  @apply fcr-rounded-12;
  height: 48px;
}
.fcr-input.fcr-input-m {
  @apply fcr-rounded-50;
  height: 36px;
}

.fcr-input-label {
  @apply fcr-font-title fcr-text-1;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 5px;
}

.fcr-input input {
  @apply fcr-text-1;
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  background: transparent;
}

.fcr-input input::placeholder {
  @apply fcr-text-3;
}

.fcr-input:hover:not(.fcr-input--disabled) {
  @apply fcr-border-notsb-inverse;
}

.fcr-input.fcr-input--focused:not(.fcr-input--disabled) {
  @apply fcr-border-brand;
  box-shadow: 0 0 0 3px theme(colors.brand-a50);
}

.fcr-input-icon-wrap {
  @apply fcr-rounded-full;
  position: absolute;
  cursor: pointer;
  width: 22px;
  height: 22px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.fcr-input-icon-wrap:hover {
  @apply fcr-bg-2;
}

.fcr-input-icon-wrap--invisible {
  visibility: hidden;
}

.fcr-input.fcr-input--disabled {
  cursor: not-allowed;
  opacity: 50%;
}
.fcr-input.fcr-input--disabled input {
  @apply fcr-text-2;
  cursor: not-allowed;
}
.fcr-input.fcr-input--disabled input::placeholder {
  @apply fcr-text-2;
}
