.fcr-clickabel-icon {
  @apply fcr-rounded-12;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid;
  outline: none;
  position: relative;
}
.fcr-clickabel-icon:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.fcr-clickabel-icon::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: 0.3s;
}
.fcr-clickabel-icon:active,
.fcr-clickabel-icon:focus {
  outline: none;
}

.fcr-clickabel-icon {
  @apply fcr-bg-brand-6 fcr-border-brand-6;
}
.fcr-clickabel-icon:not(:disabled):active {
  @apply fcr-bg-brand-8 fcr-border-brand-8;
}
.fcr-clickabel-icon::after {
  box-shadow: 0 0 0 6px theme(colors.brand.4);
}
.fcr-clickabel-icon:not(:disabled):active:after {
  box-shadow: none;
  opacity: 0.5;
  transition: 0s;
}

.fcr-pretest-device-icon-active {
  @apply fcr-bg-purple-6 fcr-border-purple-6;
}
.fcr-pretest-device-icon-active:not(:disabled):active {
  @apply fcr-bg-purple-8 fcr-border-purple-8;
}
.fcr-pretest-device-icon-active::after {
  box-shadow: 0 0 0 6px theme(colors.purple.4);
}
.fcr-pretest-device-icon-active:not(:disabled):active:after {
  box-shadow: none;
  opacity: 0.5;
  transition: 0s;
}

.fcr-pretest-device-icon-inactive {
  @apply fcr-bg-red-6 fcr-border-red-6;
}
.fcr-pretest-device-icon-inactive:not(:disabled):active {
  @apply fcr-bg-red-8 fcr-border-red-8;
}
.fcr-pretest-device-icon-inactive::after {
  box-shadow: 0 0 0 6px theme(colors.red.4);
}
.fcr-pretest-device-icon-inactive:not(:disabled):active:after {
  box-shadow: none;
  opacity: 0.5;
  transition: 0s;
}

.fcr-pretest-device-icon-idle {
  @apply fcr-bg-transparent fcr-border-1;
}
.fcr-pretest-device-icon-idle:not(:disabled):active {
  @apply fcr-bg-transparent fcr-border-1;
}
.fcr-pretest-device-icon-idle::after {
  box-shadow: 0 0 0 6px theme(colors.block-6);
}
.fcr-pretest-device-icon-idle:not(:disabled):active:after {
  box-shadow: none;
  opacity: 0.5;
  transition: 0s;
}
