.fcr-status-bar-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fcr-status-bar-info-network,
.fcr-status-bar-info-share {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fcr-status-bar-info-network:hover,
.fcr-status-bar-info-share:hover {
  @apply fcr-bg-brand-6;
}

.fcr-status-bar-info-id {
  @apply fcr-text-1;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 8px;
  font-size: 300;
}

.fcr-status-bar-info-id>span:first-child {
  padding-right: 2px;
}

.fcr-status-bar-room-name {
  line-height: 36px;
  width: 100%;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: var(--fcr_web_ui_scene_mainicon1, rgba(255, 255, 255, 0.95));
}