.fcr-action-bar-device {
  @apply fcr-rounded-8;
  position: relative;
  width: 71px;
}
.fcr-action-bar-device:hover {
  @apply fcr-bg-4;
}
.fcr-action-bar-device-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fcr-action-bar-device-text {
  @apply fcr-text-2;
  line-height: 12px;
  font-size: 10px;
  text-align: center;
}
.fcr-action-bar-device-extra {
  @apply fcr-rounded-6;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 18px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcr-action-bar-device-extra:hover {
  @apply fcr-bg-5;
}
.fcr-action-bar-device-extra:hover svg {
  transform: translateY(-3px);
  transition: all 0.2s;
}
.fcr-device-popover-content-device {
  padding-top: 20px;
}
.fcr-device-popover-content-device:not(:first-child) {
  @apply fcr-border-1;
  border-top-width: 1px;
  border-top-style: solid;
}
.fcr-device-popover-content-device-label {
  @apply fcr-font-title fcr-text-1;
  font-size: 16px;
  padding: 0 24px;
}
.fcr-device-popover-content-device-options > div {
  padding: 12px 24px;
}
.fcr-device-popover-content-more {
  @apply fcr-border-1;
  height: 51px;
  border-top-width: 1px;
  border-top-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-left: 24px;
  user-select: none;
}
.fcr-device-popover-content-more > span {
  @apply fcr-text-2 fcr-font-medium;
  font-size: 12px;
}
