.fcr-leave-room-action  {
  height: 100%;
  padding: 6px 23.5px;
  border-radius: 6px;
  color: var(--fcr_ui_scene_white10, rgba(255, 255, 255, 1));
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background: var(--fcr_ui_scene_ramp_brand6, rgba(66, 98, 255, 1));
  cursor: pointer;
}

.fcr-leave-tips {
  white-space: nowrap;
}

.fcr-action-bar-leave-popover {
  padding: 30px 20px 20px;
}
.fcr-action-bar-leave-popover-text {
  @apply fcr-text-1 fcr-font-medium;
  font-size: 16px;
  line-height: 150%;
}
.fcr-action-bar-leave-popover-btns {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fcr-leave-subroom-action {
  width: 130px;
}

.fcr-leave-subroom-action .fcr-action-bar-item-icon {
  @apply fcr-bg-brand;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  height: 24px;
  width: 63px;
}
.fcr-leave-subroom-action .fcr-action-bar-item-icon svg {
  margin-top: -5px;
}

.fcr-leave-room-action .fcr-action-bar-item-icon {
  @apply fcr-bg-red;
  border-radius: 8px;
  height: 24px;
  width: 24px;
}

.fcr-leave-room-action .fcr-action-bar-item-icon svg {
  margin-top: -6px;
  margin-left: -6px;
}

.fcr-leave-room-action .fcr-action-bar-item,
.fcr-leave-subroom-action .fcr-action-bar-item {
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.fcr-leave-room-action .fcr-action-bar-item-icon,
.fcr-leave-subroom-action .fcr-action-bar-item-icon {
  border-radius: 8px;
  margin-bottom: 3px;
}

.fcr-leave-subroom-action .fcr-action-bar-item-icon {
  display: flex;
  justify-content: center;
}

