.fcr-action-bar {
  @apply fcr-bg-2;
  width: 100%;
  height: 66px;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.2s;
  pointer-events: all;
}
.fcr-action-bar-hide {
  transform: translateY(66px);
}
.fcr-action-bar-left,
.fcr-action-bar-mid,
.fcr-action-bar-right {
  display: flex;
  flex-direction: row;
}
.fcr-action-bar-item-wrapper {
  @apply fcr-bg-transparent;
  width: fit-content;
  height: 52px;
  user-select: none;
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fcr-action-bar-item:hover,
.fcr-action-bar-item-active {
  @apply fcr-bg-4  fcr-rounded-8;
}
.fcr-action-bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.fcr-action-bar-item-text {
  @apply fcr-text-2 fcr-font-regular;
  font-size: 10px;
  line-height: 12px;
  padding: 0 8px;
}
.fcr-action-bar-cancel-leave {
  @apply fcr-text-1 fcr-font-medium;
  width: 100px;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  margin-right: 31px;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
}
.fcr-action-bar-cancel-leave:hover {
  text-decoration: underline;
}
