.fcr-stream-window-student-interact-group {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.fcr-stream-window-student-interact-item {
  @apply fcr-rounded-8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fcr-stream-window-student-interact-item > span {
  text-align: center;
}
.fcr-stream-window-student-interact-group-large svg {
  width: 30px;
  height: 30px;
}
.fcr-stream-window-student-interact-group-large .fcr-stream-window-student-interact-item {
  @apply fcr-rounded-8;
  gap: 5px;
}
.fcr-stream-window-student-interact-group-large .fcr-stream-window-student-interact-item > span {
  @apply fcr-font-title fcr-text-white;
  font-size: 20px;
  line-height: 20px;
  padding-right: 10px;
}
.fcr-stream-window-student-interact-group-normal {
  gap: 10px;
}
.fcr-stream-window-student-interact-group-normal svg {
  width: 32px;
  height: 32px;
}
.fcr-stream-window-student-interact-group-normal .fcr-stream-window-student-interact-item {
  @apply fcr-rounded-8;
  gap: 3px;
}
.fcr-stream-window-student-interact-group-normal .fcr-stream-window-student-interact-item > span {
  @apply fcr-font-title fcr-text-white;
  font-size: 14px;
  line-height: 14px;
  padding-right: 9px;
}
.fcr-stream-window-student-interact-group-small svg {
  width: 24px;
  height: 24px;
}

.fcr-stream-window-student-interact-group-small .fcr-stream-window-student-interact-item {
  @apply fcr-rounded-6;
  gap: 4px;
}
.fcr-stream-window-student-interact-group-small .fcr-stream-window-student-interact-item > span {
  @apply fcr-font-title fcr-text-white;
  font-size: 12px;
  line-height: 12px;
  padding-right: 8px;
}
