/** left **/

.rc-tooltip-placement-left .rc-tooltip-arrow svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -9px;
  transform: rotate(-90deg);
}
.rc-tooltip-placement-leftTop .rc-tooltip-arrow svg {
  position: absolute;
  top: -2px;
  right: -9.2px;
  transform: rotate(-90deg);
}
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow svg {
  position: absolute;
  bottom: -2px;
  right: -9.2px;
  transform: rotate(-90deg);
}
/** bottom **/
.rc-tooltip-placement-bottom .rc-tooltip-arrow svg {
  transform: rotate(180deg);
  position: absolute;
  left: -8px;
  top: -9px;
}
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow svg {
  transform: rotate(180deg);
  position: absolute;
  left: -8px;
  top: -9px;
}
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow svg {
  transform: rotate(180deg);
  position: absolute;
  left: -8px;
  top: -9px;
}
/** right **/
.rc-tooltip-placement-right .rc-tooltip-arrow svg {
  transform: rotate(90deg);
  position: absolute;
  left: -9px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.rc-tooltip-placement-rightTop .rc-tooltip-arrow svg {
  transform: rotate(90deg);
  position: absolute;
  left: -9px;
  top: -3px;
}
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow svg {
  transform: rotate(90deg);
  position: absolute;
  left: -9px;
  bottom: -3px;
}
/** top **/
.rc-tooltip-placement-top .rc-tooltip-arrow svg {
  position: absolute;
  left: -7px;
  top: -7px;
}
.rc-tooltip-placement-topLeft .rc-tooltip-arrow svg {
  position: absolute;
  left: -7px;
  top: -7px;
}
.rc-tooltip-placement-topRight .rc-tooltip-arrow svg {
  position: absolute;
  left: -7px;
  top: -7px;
}
/**  ---- boarder-width-2  ----- **/
/** left **/

.fcr-tooltip-border-width-2.rc-tooltip-placement-left .rc-tooltip-arrow svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -6px;
  transform: rotate(-90deg);
}
.fcr-tooltip-border-width-2.rc-tooltip-placement-leftTop .rc-tooltip-arrow svg {
  position: absolute;
  top: -2px;
  right: -6px;
  transform: rotate(-90deg);
}
.fcr-tooltip-border-width-2.rc-tooltip-placement-leftBottom .rc-tooltip-arrow svg {
  position: absolute;
  bottom: -2px;
  right: -6px;
  transform: rotate(-90deg);
}
/** bottom **/
.fcr-tooltip-border-width-2.rc-tooltip-placement-bottom .rc-tooltip-arrow svg {
  transform: rotate(180deg);
  position: absolute;
  left: -8px;
  top: -6px;
}
.fcr-tooltip-border-width-2.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow svg {
  transform: rotate(180deg);
  position: absolute;
  left: -8px;
  top: -6px;
}
.fcr-tooltip-border-width-2.rc-tooltip-placement-bottomRight .rc-tooltip-arrow svg {
  transform: rotate(180deg);
  position: absolute;
  left: -8px;
  top: -6px;
}
/** right **/
.fcr-tooltip-border-width-2.rc-tooltip-placement-right .rc-tooltip-arrow svg {
  transform: rotate(90deg);
  position: absolute;
  left: -6px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.fcr-tooltip-border-width-2.rc-tooltip-placement-rightTop .rc-tooltip-arrow svg {
  transform: rotate(90deg);
  position: absolute;
  left: -6px;
  top: -3px;
}
.fcr-tooltip-border-width-2.rc-tooltip-placement-rightBottom .rc-tooltip-arrow svg {
  transform: rotate(90deg);
  position: absolute;
  left: -6px;
  bottom: -3px;
}
/** top **/
.fcr-tooltip-border-width-2.rc-tooltip-placement-top .rc-tooltip-arrow svg {
  position: absolute;
  left: -7px;
  top: -14px;
}
.fcr-tooltip-border-width-2.rc-tooltip-placement-topLeft .rc-tooltip-arrow svg {
  position: absolute;
  left: -7px;
  top: -14px;
}
.fcr-tooltip-border-width-2.fcr-tooltip-border-width-2.rc-tooltip-placement-topRight
  .rc-tooltip-arrow
  svg {
  position: absolute;
  left: -7px;
  top: -14px;
}
