.rc-tooltip {
  background: transparent;
}
.rc-tooltip .rc-tooltip-arrow {
  border-color: transparent;
}

.rc-tooltip-content {
  background: transparent;
}

/** Arrow Style Override **/
.rc-tooltip-arrow svg {
  fill: #000;
  stroke: rgba(74, 76, 95, 1);
}
/** left **/

.rc-tooltip-placement-left .rc-tooltip-arrow svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -9.2px;
  transform: rotate(-90deg);
}
.rc-tooltip-placement-leftTop .rc-tooltip-arrow svg {
  position: absolute;
  top: -2px;
  right: -9.2px;
  transform: rotate(-90deg);
}
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow svg {
  position: absolute;
  top: -2px;
  right: -9.2px;
  transform: rotate(-90deg);
}
/** bottom **/
.rc-tooltip-placement-bottom .rc-tooltip-arrow svg {
  transform: rotate(180deg);
  position: absolute;
  left: -8px;
  top: -9px;
}
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow svg {
  transform: rotate(180deg);
  position: absolute;
  left: -8px;
  top: -9px;
}
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow svg {
  transform: rotate(180deg);
  position: absolute;
  left: -8px;
  top: -9px;
}
/** right **/
.rc-tooltip-placement-right .rc-tooltip-arrow svg {
  transform: rotate(90deg);
  position: absolute;
  left: -9px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.rc-tooltip-placement-rightTop .rc-tooltip-arrow svg {
  transform: rotate(90deg);
  position: absolute;
  left: -9px;
  top: -3px;
}
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow svg {
  transform: rotate(90deg);
  position: absolute;
  left: -9px;
  top: -3px;
}
/** top **/
.rc-tooltip-placement-top .rc-tooltip-arrow svg {
  position: absolute;
  left: -7px;
  top: -7px;
}
.rc-tooltip-placement-topLeft .rc-tooltip-arrow svg {
  position: absolute;
  left: -7px;
  top: -7px;
}
.rc-tooltip-placement-topRight .rc-tooltip-arrow svg {
  position: absolute;
  left: -7px;
  top: -7px;
}

/** Guide ToolTip **/
.fcr-guide-tooltip-overlay-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fcr-guide-tooltip-overlay-content-inner {
  flex: 1;
  flex-shrink: 0;
}
.fcr-guide-tooltip-overlay-content-closeable {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.fcr-guide-tooltip-overlay-content-closeable::before {
  content: "";
  width: 1px;
  height: calc(100% + 2px);
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    #ffffff 52.6%,
    rgba(255, 255, 255, 0) 97.92%
  );
  position: absolute;
  top: -1px;
  left: 0;
}

/** Dialog ToolTip **/
.fcr-dialog-tooltip-overlay-content {
  padding: 15px 12px;
  position: relative;
}
