.rc-tooltip {
  background: transparent;
}
.rc-tooltip .rc-tooltip-arrow {
  border-color: transparent;
}

.rc-tooltip-content {
  background: transparent;
}

/** Guide ToolTip **/
.fcr-guide-tooltip-overlay-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fcr-guide-tooltip-overlay-content-inner {
  flex: 1;
  flex-shrink: 0;
}
.fcr-guide-tooltip-overlay-content-closeable {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.fcr-guide-tooltip-overlay-content-closeable::before {
  content: '';
  width: 1px;
  height: calc(100% + 2px);
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    #ffffff 52.6%,
    rgba(255, 255, 255, 0) 97.92%
  );
  position: absolute;
  top: -1px;
  left: 0;
}

/** Dialog ToolTip **/
.fcr-dialog-tooltip-overlay-content {
  padding: 15px 12px;
  position: relative;
}
.fcr-dialog-tooltip-overlay-close {
  @apply fcr-rounded-full fcr-bg-3;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  right: 7px;
}
.fcr-dialog-tooltip-overlay-close:hover {
  @apply fcr-bg-brand-6;
}
.fcr-tooltip-border-width-2 .rc-tooltip-content {
  backdrop-filter: blur(25px);
}

.fcr-dialog-tooltip-overlay-content-inner {
  line-height: 1;
}
