.fcr-stream-window-wrap,
.fcr-stream-window-placeholder {
  @apply fcr-bg-4 fcr-rounded-8;

  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcr-stream-window-placeholder-text {
  @apply fcr-text-white;
  display: flex;
  overflow: hidden;
  padding: 0 3px;
}
.fcr-stream-window-placeholder-text span:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fcr-stream-window-placeholder-rounded {
  @apply fcr-text-1 fcr-rounded-full fcr-bg-brand-6 fcr-font-title;
  width: 14.5%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 1vw);
  max-width: 175px;
  min-width: 81px;
}
.fcr-stream-window-player {
  @apply fcr-rounded-8;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fcr-stream-window-interact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
}

.fcr-stream-window-interact-large {
  padding: 12px 12px;
}
.fcr-stream-window-interact-small {
  padding: 6px 8px;
}
.fcr-stream-window-interact-with-status-bar-visible {
  padding-top: calc(var(--fcr-status-bar-height) + 12px);
}
.fcr-stream-window-interact-with-action-bar-visible {
  padding-bottom: calc(var(--fcr-action-bar-height) + 12px);
}
.fcr-stream-window-interact-top,
.fcr-stream-window-interact-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fcr-stream-window-user-label {
  @apply fcr-rounded-24 fcr-bg-2;
  height: 24px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.fcr-stream-window-user-role {
  @apply fcr-rounded-24 fcr-bg-gradient-1 fcr-text-white fcr-font-medium;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  padding-right: 10px;
}

.fcr-stream-window-user-name {
  @apply fcr-text-1 fcr-font-medium;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/** small size **/
.fcr-stream-window-user-label-small {
  height: 16px;
}
.fcr-stream-window-user-label-small .fcr-stream-window-user-name {
  @apply fcr-text-1 fcr-font-medium;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  padding: 0 8px;
}
.fcr-stream-window-user-label-small .fcr-stream-window-user-role {
  @apply fcr-rounded-24 fcr-bg-gradient-1 fcr-text-white fcr-font-medium;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  padding-right: 8px;
}
.fcr-stream-window-user-label-small .fcr-stream-window-user-role > span:only-child {
  padding-left: 8px;
}
.fcr-stream-window-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;

  pointer-events: all;
}

.fcr-stream-window-actions-item,
.fcr-stream-window-mute-icon {
  @apply fcr-rounded-8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.fcr-stream-window-actions-item > span,
.fcr-stream-window-mute-icon > span {
  @apply fcr-font-title fcr-text-white;
  font-size: 20px;
  line-height: 20px;
  padding-right: 10px;
  text-align: center;
}
.fcr-stream-window-actions-item > span,
.fcr-stream-window-mute-icon > span {
  padding: 0 8px;
}

.fcr-stream-window-actions-popover-name {
  @apply fcr-text-2;
  font-size: 10px;
  line-height: 12px;

  padding: 10px 14px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 175px;
}
.fcr-stream-window-actions-popover-item {
  height: 30px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding-left: 14px;
  margin: 5px 0;
  padding-right: 15px;
  user-select: none;
}
.fcr-stream-window-actions-popover-item:hover {
  @apply fcr-bg-hover;
}
.fcr-stream-window-actions-popover-item-label {
  @apply fcr-text-1;
  font-size: 12px;
  line-height: 12px;
}
.fcr-stream-window-mute-icon {
  height: 30px;
  position: absolute;
  top: 20px;
  right: 58px;
  transition: all 0.2s;
  pointer-events: all;
}
/** small size **/
.fcr-stream-window-actions-small {
  display: flex;
  flex-direction: row;
  gap: 4px;
  position: absolute;
  top: 6px;
  left: 6px;
  transition: all 0.2s;
}
.fcr-stream-window-actions-small {
  left: auto;
  right: 6px;
}

.fcr-stream-window-actions-small .fcr-stream-window-actions-item {
  @apply fcr-rounded-6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  height: 24px;
}

.fcr-stream-window-actions-small .fcr-stream-window-actions-item > span {
  @apply fcr-font-title fcr-text-white;
  font-size: 12px;
  line-height: 12px;
  padding-right: 8px;
  text-align: center;
}
.fcr-stream-window-mute-icon-small {
  height: 18px;
  position: absolute;
  top: auto;
  bottom: 6px;
  right: 6px;
}
.fcr-stream-window-mute-icon-small > span {
  @apply fcr-font-medium;
  font-size: 10px;
  line-height: 10px;
  padding: 0 6px;
}

.fcr-stream-window-bottom-right-mic {
  @apply fcr-rounded-full fcr-bg-2;

  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcr-stream-window-student-interact-group-anim {
  transition: all 0.2s;
  transform: translateY(var(--fcr-status-bar-height));
}

.fcr-stream-window-actions-popover-divider {
  @apply fcr-border-1;
  width: calc(100% - 40px);
  border-top-style: solid;
  border-top-width: 1px;
  align-self: flex-end;
}
.fcr-stream-window-actions-popover-items {
  display: flex;
  flex-direction: column;
}
.fcr-audio-volume-effect {
  @apply fcr-border-green fcr-rounded-8;
  border-width: 3px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-style: solid;
  pointer-events: none;
}
