.fcr-input {
  position: relative;
  padding: 15px 12px;
  transition: border-color 0.3s;
  border: 1px solid;
  cursor: text;
  @apply fcr-bg-8 fcr-border-1 fcr-rounded-12;
}

.fcr-input input {
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  @apply fcr-text-1 fcr-bg-8;
}

.fcr-input input::placeholder {
  @apply fcr-text-3;
}

.fcr-input:hover {
  border: 1px solid;
  @apply fcr-border-notsb-inverse;
}

.fcr-input.fcr-input--focused {
  @apply fcr-border-brand;
}

.fcr-input-icon {
}

.fcr-input-icon--invisible {
  /* visibility: hidden; */
}

.fcr-input-icon-wrap {
  position: absolute;
  cursor: pointer;
  width: 22px;
  height: 22px;
  right: 9px;
  top: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply fcr-bg-2 fcr-rounded-full;
}
