.fcr-toast-container {
  @apply fcr-rounded-full fcr-shadow-2;
  min-height: 48px;
  max-width: 800px;
  min-width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  justify-content: center;
  pointer-events: all;
}

.fcr-toast-container-content,
.fcr-toast-container-action,
.fcr-toast-container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcr-toast-container-action,
.fcr-toast-container-icon,
.fcr-toast-container-close {
  flex-shrink: 0;
}
.fcr-toast-container-icon {
  padding-right: 10px;
}
.fcr-toast-container-action {
  padding: 0 10px;
  cursor: pointer;
  height: 40px;
}
.fcr-toast-container-content {
  padding: 10px 0;
  flex: 1;
}
.fcr-toast-container-content > span {
  @apply fcr-text-1;
  font-size: 16px;
  line-height: 130%;
}

.fcr-toast-container-action > span {
  @apply fcr-text-1;
  font-size: 16px;
}
.fcr-toast-normal .fcr-toast-container-content > span {
  @apply fcr-text-notsb;
  font-size: 16px;
  line-height: 130%;
}

.fcr-toast-normal .fcr-toast-container-action > span {
  @apply fcr-text-notsb;
  font-size: 16px;
}
.fcr-toast-normal .fcr-divider::before {
  content: '';
  width: 1px;
  height: calc(100% + 2px);
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 52.6%, rgba(0, 0, 0, 0) 97.92%);

  position: absolute;
  top: -1px;
  left: 0;
}
.fcr-toast-container-close {
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.fcr-toast-normal {
  @apply fcr-bg-notsb-inverse;
}
.fcr-toast-error {
  @apply fcr-bg-red-6;
}
.fcr-toast-warn {
  @apply fcr-bg-yellowwarm;
}
.fcr-toast-info {
  @apply fcr-bg-brand-6;
}

.fcr-toast-anim-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.fcr-toast-anim-enter-active {
  opacity: 1;
  transition: all 0.2s ease-in;
  transform: translateY(0px);
}
.fcr-toast-anim-enter-done {
  opacity: 1;
}
.fcr-toast-anim-exit {
  opacity: 1;
}
.fcr-toast-anim-exit-active {
  opacity: 0;
  transition: all 0.2s ease-in;
  transform: translateY(-10px);
}
.fcr-toast-anim-exit-done {
  opacity: 0;
}

.fcr-single-toast-container {
  width: fit-content;
  pointer-events: none;
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.fcr-presist-toast-container {
  width: fit-content;
  pointer-events: none;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.fcr-toast-portal {
  padding: 15px 0;
}
