.fcr-widget-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.fcr-widget-container.fcr-z-0 {
  z-index: 1000;
}

.fcr-widget-container.fcr-z-10 {
  z-index: 1010;
}

.fcr-widget-container > *,
.fcr-widget-inner > * {
  pointer-events: all;
}
.fcr-widget-inner {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}
