.fcr-layout-switch {
  padding: 22px 24px 24px;
}
.fcr-layout-switch-speaker-view {
  padding-bottom: 24px;
}
.fcr-layout-switch-title {
  @apply fcr-font-title fcr-text-1;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 14px;
}
.fcr-layout-switch-card {
  @apply fcr-rounded-12 fcr-bg-4;
  width: 132px;
  height: 114px;
  position: relative;
  padding: 8px;
}
.fcr-layout-switch-card::after {
  @apply fcr-border-brand-5 fcr-rounded-16;
  content: '';
  width: 141px;
  height: 123px;
  position: absolute;
  left: -4px;
  top: -4px;
  border-width: 3px;
  border-style: solid;
  opacity: 0;
}
.fcr-layout-switch-card:hover.fcr-layout-switch-card::after {
  opacity: 1;
}
.fcr-layout-switch-card-active {
  @apply fcr-bg-brand-6;
}
.fcr-layout-switch-view-wrap {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.fcr-layout-switch-card-icon {
  @apply fcr-bg-2 fcr-rounded-8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 72px;
}
.fcr-layout-switch-card-checkbox {
  padding-top: 2px;
  padding-left: 4px;
  padding-bottom: 6px;
}
