:root {
  --fcr-status-bar-height: 36px;

  --fcr-action-bar-height: 58px;
}

.fcr-classroom-viewport {
  width: 100%;
  height: 100%;
  /* min-width: 826px;
  min-height: 655px; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.2s;
  overflow: hidden;
}
.fcr-bg-background {
  @apply fcr-bg-1;
}
.fcr-bg-2 {
  backdrop-filter: blur(25px);
}
