/** list-on-top **/
.fcr-layout-content-list-on-top {
  @apply fcr-bg-1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.fcr-layout-content-main-view {
  position: relative;
}
.fcr-layout-content-list-on-top .fcr-layout-content-main-view {
  flex: 1;
  background-color: aquamarine;
}
.fcr-layout-content-list-on-top .fcr-layout-content-list-view {
  @apply fcr-bg-2;
  height: 191px;
  padding-top: 57px;
}
/** list-on-rigth **/
.fcr-layout-content-list-on-right {
  @apply fcr-bg-1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}
.fcr-layout-content-list-on-right .fcr-layout-content-main-view {
  flex: 1;
  background-color: aquamarine;
}
.fcr-layout-content-list-on-right .fcr-layout-content-list-view {
  @apply fcr-bg-2;
  width: 210px;
  padding-top: 57px;
  padding-bottom: 66px;
}
/** grid **/

.fcr-layout-content-grid {
  @apply fcr-bg-1;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.fcr-layout-content-grid .fcr-layout-content-main-view {
  @apply fcr-bg-1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcr-layout-content-video-list {
  @apply fcr-bg-2;
  height: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.fcr-layout-content-video-list-row {
  flex-direction: row;
  align-items: start;
}
.fcr-layout-content-video-list-col {
  flex-direction: column;
}
.fcr-gallery-view-container {
  width: 100%;
  height: 100%;
  padding: calc(20px + var(--fcr-status-bar-height)) 20px
    calc((20px + var(--fcr-action-bar-height)));
}
.fcr-gallery-view-stream-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcr-layout-board-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
