.stream-people-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.stream-people-container-video > :first-child {
    border-radius: 8px;
    border: 1px solid rgba(51, 51, 51, 1)
}
.stream-people-container-options {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    background: rgba(35, 37, 43, 0.2);
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
}
.stream-people-container-options .mic-container{
    width: 114px;
    height: 42px;
    background: rgba(42, 46, 49, 1);
    border-radius: 4px;
    display: flex;
    margin-right: 5px;
    justify-content: center;
}
.stream-people-container-options .camera-container{
    width: 144px;
    height: 42px;
    background: rgba(42, 46, 49, 1);
    border-radius: 4px;
    display: flex;
    margin-left: 5px;
    justify-content: center;
}
.stream-people-container-options .volume-container{
    width: 100%;
    height: 47px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.mic-camera-options-container .status {
    display: flex;
    color: var(--fcr_ui_scene_white10, rgba(255, 255, 255, 1));
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    line-height: 32px;
    margin-top: 5px;
    flex-grow: 1;
}
.mic-camera-options-container .status .icon{
    flex-grow: 1;
}
.mic-camera-options-container .status .text {
    flex-grow: 1;
}
.mic-camera-options-container .status .line {
    height: 14px;
    width: 1px;
    margin-top: 9px;
    border: 1px solid var(--fcr_mobile_ui_scene_white3, rgba(255, 255, 255, 0.3))
}
.mic-camera-options-container .more {
    padding: 11px 6px;
    border: 0px, 4px, 4px, 0px    ;
}
.mic-camera-options-select-item {
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: Helvetica Neue;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    min-width: 280px;
    padding-right: 5px;
}
.mic-camera-options-select-item:hover {
    background: rgba(66, 98, 255, 1);
    border-radius: 6px;
}
.mic-camera-options-select-item .icon {
    width: 61px;
    justify-content: center;
    display: flex;
    margin: auto 0;
}

.mic-camera-options-select-title {
    height: 36px;
    line-height: 36px;
    padding-left: 14px;
    font-family: Helvetica Neue;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);

}